@import 'var';

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.image-slider {
    @extend .d-content-center, .direction-column;
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-next {
    right: 1rem !important;
}
.slick-prev {
    z-index: 2;
    left: 1rem !important;
}
.carousel {
    .title,.subtitle {
        color: #ffffff;
    }
    .button.transparent {
        background-color: transparent;
        color: #ffffff;
    }
}
.img-card {
    @extend .direction-column;
    height: 150px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .share {
        @extend .d-flex;
        justify-content: end;
    }
}
.gap-1rem {
    gap: 1rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.is-width-full {
    width: 100%;
}
.footer-section {
    background-color: $color-primary !important;
    color: #ffffff;
    padding: 0px;
    a {
        color: #ffffff
    }
}
.blog {
    .content {
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        max-height: 320px;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,0) -5%,rgba(0,0,0,1) 50%);
        mask-image: linear-gradient(to bottom,rgba(0,0,0,0) -5%,rgba(0,0,0,1) 50%);
        -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,0) -5%,rgba(0,0,0,1) 50%);
        padding: 1rem;
        p {
            color: #ffffff;
        }
    }
    .share {
        padding: 1rem;
    }
    ion-icon {
        color: #ffffff;
    }
}
.about {
    ion-icon {
        border: 2px solid $color-primary;
        border-radius: 100%;
        padding: 6px;
        color: $color-primary;
    }
    .title, p {
        color: $color-title !important;
        font-weight: 300 !important;
    }
    .title {
        margin-bottom: 2rem;
    }
}
.contact-us {
    ion-icon{
        color: $color-primary;
    }
    button {
        background-color: $color-primary !important;
    }
    input:hover, input:focus,textarea:hover, textarea:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 0.125em $color-primary;
    }
    .hotline {
        font-size: 50px;
        margin-bottom: 1rem;
        gap:1rem;
        b {
            color: $color-primary;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .title, p {
        color: $color-title !important;
        font-weight: 300 !important;
    }
}

b {
    color: $color-primary;
}
label {
    font-weight: 400 !important;
}
@media screen and (max-width: 672px) {
    .navbar-menu {
        height: 100vh;
    }   
    .footer-section {
        .__social-media {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .__contact {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
        }
        .__copyright {
            text-align: center;
        }
    }
}
.navbar-burger.is-active {
    color: $color-primary;
}
