.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.d-flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.d-content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.d-content-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.d-flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.f-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.f-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.flex-grow-0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
}

.image-slider {
    @extend .d-content-center, .direction-column;
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-next {
    right: 1rem !important;
}
.slick-prev {
    z-index: 2;
    left: 1rem !important;
}
.carousel {
    .title,.subtitle {
        color: #ffffff;
    }
    .button.transparent {
        background-color: transparent;
        color: #ffffff;
    }
}
.img-card {
    @extend .direction-column;
    height: 150px;
    padding: 1rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .share {
        @extend .d-flex;
        justify-content: end;
    }
}