@import 'var';

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.image-slider {
    @extend .d-content-center, .direction-column;
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-next {
    right: 1rem !important;
}
.slick-prev {
    z-index: 2;
    left: 1rem !important;
}
.carousel {
    .title,.subtitle {
        color: #ffffff;
    }
    .button.transparent {
        background-color: transparent;
        color: #ffffff;
    }
}
.img-card {
    @extend .direction-column;
    height: 150px;
    padding: 1rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .share {
        @extend .d-flex;
        justify-content: end;
    }
}
.gap-1rem {
    gap: 1rem;
}
.footer-section {
    background-color: $color-primary !important;
    color: #ffffff;
    padding: 0px;
    a {
        color: #ffffff
    }
    .container {
        padding: 3rem 0px;
    }
}